* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}


.repo-form {
  background-color: goldenrod;
  padding: 1rem;
  border-radius: 9px;
}

.repo-form h1 {
  font-size: 40px;
  margin-bottom: 1rem;
}

.repo-form form {
  display: flex;
  flex-direction: column;
}
.repo-form input,
select {
  margin-bottom: 1rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 8px;
}
.repo-form .file {
  width: 100%;
  border: 2px solid red;
  border-radius: 6px;
  margin:  1rem 0;
}

.item-form select{
  position: relative;
  width: 50%;
}
.item-form select option{
  position: absolute;
  flex-wrap: nowrap;
}

input[type="file"] {
  font-size: 1.5rem;
  cursor: pointer;
}

form {
  margin-bottom: 20px;
}

button{
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: gold;
}

button:hover{
    background-color: rgb(255, 255, 250);
}

.display{
  background-color: bisque;
  font-size: 3rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  
}

.display .repo-cover{
  border: 2px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid bisque;
}

.display img{
  width: 30%;
  height: 40%;
  border-radius: 10px;
}

.display .icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}


.icons .fa-pencil{
  color: rgb(109, 148, 109);
  cursor: pointer;
}
.icons .fa-pencil:hover{
  color: green;
}
.icons .fa-trash{
  color: rgb(207, 107, 107);
  cursor: pointer;
}
.icons .fa-trash:hover{
  color: red;
}

@media screen AND (max-width: 768px) {
  .display h1{
    font-size: 4rem;
  }
   
  

}